.SearchFieldSearchResult {
    position: absolute;
    padding: 5px;
    width: calc(100% - 5px);
    background-color: #ffffff;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    max-height: 500px;
    overflow: auto;
}
.SearchFieldLoaderContainer {
    width: 100%;
    padding: 100px;
    text-align: center;
}
.SearchFieldContainer {
    width: 100%;
    position: relative;
}
